$colour1: rgb(124, 93, 250);
$colour2: rgb(146, 119, 255);
$colour3: rgb(30, 33, 57);
$colour4: rgb(37, 41, 69);
$colour5: rgb(223, 227, 250);
$colour6: rgb(136, 142, 176);
$colour7: rgb(126, 136, 195);
$colour8: rgb(12, 14, 22);
$colour9: rgb(236, 87, 87);
$colour10: rgb(255, 151, 151);
$colour11: rgb(248, 248, 251);
$colour12: rgb(20, 22, 37);
