@import "globals";

.btn {
  padding: 8px;
  border-radius: 32px;
  color: white;
  border: none;
  font-family: "Spartan";
  font-size: 18px;
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--small {
    min-width: 80px;
    font-weight: 300;
  }

  &--medium {
    min-width: 100px;
    font-weight: 500;
  }

  &--large {
    min-width: 120px;
    font-weight: 700;
  }

  &__add {
    &--dark {
    }
  }

  &__edit {
    color: white;
    background-color: $colour3;
    &--dark {
    }

    &:hover {
      color: $colour1;
      background-color: $colour11;
    }
  }

  &__delete {
    background-color: $colour9;
    &:hover {
      background-color: $colour10;
    }
  }

  &__icon {
    background-color: $colour1;

    &:hover {
      background-color: $colour2;
    }
  }

  &__primary-action {
    background-color: $colour1;

    &:hover {
      background-color: $colour2;
    }
  }

  &__secondary-action {
    background-color: $colour4;
    color: $colour7;
    &--dark {
      color: white;
    }
  }

  &__discard {
    background-color: $colour11;
    color: $colour1;
  }
}

.btn__icon-wrapper {
  width: 30px;
  height: 30px;
  margin: 5px 10px 5px 5px;
  background-color: white;
  border-radius: 25px;
  display: inline-block;
  color: $colour1;
  display: flex;
  align-items: center;
  justify-content: center;
}
