@import "./globals.scss";
.create-invoice {
  margin-left: 100px;
  background-color: $colour12;
}

.create-invoice__button-wrapper {
  margin: 25px 75px;
  display: flex;
  justify-content: space-between;
}

.create-invoice__button-wrapper--right {
  display: flex;
}
