@import "./globals.scss";

.form__text-input {
  border: 1px solid $colour3;
  background-color: $colour4;
  height: 40px;
  border-radius: 5px;
  width: 100%;
}

.form__label {
}

.form__field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 10px;
  width: 100%;
}

.form__field-wrapper--reduced {
  margin: 0px 5px;
  width: auto;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin: 20px 75px;
}

.form__item-cell {
  padding: 5px;
}

.form__item-list {
  width: 100%;
}
