@import "./globals.scss";

.invoices__wrapper {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.invoices__actions-wrapper {
  display: flex;
  align-items: center;
}

.invoices__list-entry {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 800px;
  margin: 20px 0px;
  padding: 20px 10px;
  background-color: $colour4;
  border-radius: 25px;
}

.invoices__list-entry--light {
  background-color: $colour11;
}

.invoices__list-entry > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice__status--pending {
  background-color: lightyellow;
  color: yellow;
}

.invoice__status--draft {
  color: white;
  background-color: grey;
}

.invoice__status--paid {
  color: green;
  background-color: lightgreen;
}

.invoice__status {
  width: 100px;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
