@import "./globals.scss";

.sidebar {
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  background-color: $colour4;
  border-radius: 0px 25px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 101;
}

.sidebar__top-icon {
  height: 100px;
  width: 100%;
  background-color: $colour1;
  border-radius: 0px 25px 25px 0px;
}

.sidebar__break-line {
  border-bottom: 1px solid black;
  margin: 20px 0px;
}

.sidebar__profile-picture {
  height: 75px;
  width: 75px;
  border-radius: 50px;
}

.sidebar__theme-icon-wrapper {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
