@import "./globals.scss";
.side-container {
  position: absolute;
  left: -800px;
  top: 0px;
  height: 100vh;
  width: 800px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear; /* Safari Chrome */
  transition-property: left;
  background-color: $colour12;
}

.side-container--expanded {
  width: 700px;
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 0px;
  height: 100vh;
  transition: all 0.3s linear;
  transition-property: left;
  background-color: $colour12;
  -webkit-transition: all 0.3s linear; /* Safari Chrome */
}
